body {
    margin: 0;
}

.header {
    min-height: 10vh;
    background-color: blue;
}

.main {
    min-height: 80vh;
    display: flex;
    flex-flow: row nowrap;
}

.left-sidebar {
    width: 20%;
    background-color: green;
}

.content {
    width: 60%;
    background-color: red;
}

.right-sidebar {
    width: 20%;
    background-color: yellow;
}

.footer {
    min-height: 10vh;
    background-color: grey;
}